<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="../lib/vue.js"></script>
</head>

<body>
    <style>
        .component-fade-enter-active,
        .component-fade-leave-active {
            transition: opacity .3s ease;
        }
        
        .component-fade-enter,
        .component-fade-leave-active {
            opacity: 0;
        }
    </style>
    <div id="root">
        <input v-model="view" type="radio" value="aa" name="view"><label for="a">A</label>
        <input v-model="view" type="radio" value="bb" name="view"><label for="b">B</label>
        <transition name="component-fade" mode="out-in">
            <component v-bind:is="view"></component>
        </transition>
    </div>
    <script>

   new Vue({
       el: '#root',
       data:{
           view:'aa'
       },
       components:{
           'aa':{
               template:'<div>aaaa</div>'
           },
           'bb':{
               template:'<div>bbbb</div>'
           }
       },
       methods:{
           onChange(event){
               console.log(event.target.value);
           }
       }
   })

   </script>
</body>

</html>